#portada-bar3{
    background-image: url(../imagenes/bar3.jpg) !important;
    background-size: cover;
}
#letras-portada{
    background-color:rgba(237, 225, 225, 0.5) !important;
}
#restaurante3{
    background-image: url(../imagenes/res3.jpg);
    background-size: cover;
    background-position: center;
}

#cafeteria3{
    background-image: url(../imagenes/caf3.png);
    background-size: cover;
    background-position: center;
}
#mapa{
    width: 100% !important;
    height: 100% !important;
}