#portada-cuidados{
    background-image: url(../images/portadaCuidados.jpeg) !important;
    background-size: cover;
    background-position: center;
}

#letras-portada{
    background-color:rgba(178, 183, 189, 0.5) !important;
}
#cuidado1{
    background-image: url(../images/cuidado1.jpg);
    background-size: cover;
    background-position: center;
}

#cuidado2{
    background-image: url(../images/cuidado2.jpg);
    background-size: cover;
    background-position: center;
}

#cuidado3{
    background-image: url(../images/cuidado3.webp);
    background-size: cover;
    background-position: center;
}

#cuidado4{
    background-image: url(../images/cuidado4.webp);
    background-size: cover;
}