#portada-restaurante1{
    background-image: url(../imagenes/res1.jpg) !important;
    background-size: cover;
}
#letras-portada{
    background-color:rgba(237, 225, 225, 0.5) !important;
}
#restaurante1{
    background-image: url(../imagenes/caf1.jpg);
    background-size: cover;
    background-position: center;
}

#bar1{
    background-image: url(../imagenes/bar1.jpg);
    background-size: cover;
    background-position: center;
}
#mapa{
    width: 100% !important;
    height: 100% !important;
}
