#portada-salud{
    background-image: url(../images/portadaSalud.webp) !important;
    background-size: cover;
}
#letras-portada{
    background-color:rgba(237, 225, 225, 0.5) !important;
}
#enfermedad{
    background-image: url(../images/perro-enfermo.jpg);
    background-size: cover;
}
#nutricion{
    background-image: url(../images/perro-comiendo2.webp);
    background-size: cover;   
    background-position: center;
}
#salud1{
    background-image: url(../images/sintomas.jpg);
    background-size: cover;
    background-position: center;
}

#salud2{
    background-image: url(../images/peso.jpg);
    background-size: cover;
    background-position: center;
}

#salud3{
    background-image: url(../images/veterinario.webp);
    background-size: cover;
    background-position: center;
}
#mapa{
    width: 100% !important;
    height: 100% !important;
}