.card-title{
    font-weight: bold !important;
}

.card {
    height: 460px;
}

#restaurante1{
    background-image: url(../SaboresLlajta/imagenes/res1.jpg);
    background-size: cover;
}
#logo
{
    background-size: cover;
}
#restaurante2{
    background-image: url(../SaboresLlajta/imagenes/res2.jpg);
    background-size: cover;
}
#restaurante3{
    background-image: url(../SaboresLlajta/imagenes/res3.jpg);
    background-size: cover;
}

#cafeteria1{
    background-image: url(../SaboresLlajta/imagenes/caf1.jpg);
    background-size: cover;
}
#cafeteria2{
    background-image: url(../SaboresLlajta/imagenes/caf2.png);
    background-size: cover;
}
#cafeteria3{
    background-image: url(../SaboresLlajta/imagenes/caf3.png);
    background-size: cover;
}

#bar1{
    background-image: url(../SaboresLlajta/imagenes/bar1.jpg);
    background-size: cover;
}
#bar2{
    background-image: url(../SaboresLlajta/imagenes/bar2.jpg);
    background-size: cover;
}
#bar3{
   
    background-image: url(../SaboresLlajta/imagenes/bar3.jpg);
    background-size: cover;
}
.banner-lateral {
    position: fixed;
    top: 0;
    width: 150px;
    background-color: gray  ;
}
.banner-izquierdo {
    left: 15px;
    margin-top: 8%;
    height: 70%;
}
.banner-derecho {
    right: 15px;
    margin-top: 8%;
    height: 70%;
}
main {
    margin-left: 200px;
    margin-right: 200px;
}
